{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kalkylator historik</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/history.css' %}"
    />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  </head>

  <body>
    <h1>Tidigare kalkyler</h1>

    <button class="return" hx-get="{% url 'go_to_calc' %}" hx-trigger="click">
      Return
    </button>

    <div
      id="history-container"
      hx-get="{% url 'history_elem' %}"
      hx-trigger="load"
      hx-swap="innerHTML"
    ></div>
  </body>
</html>
